<!DOCTYPE html>
<html dir="ltr">
	<head>
		<meta charset="utf-8"/>
		<title>MovieFinder</title>
		<link rel="stylesheet" type="text/css" href="/assets/app.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div id="root"></div>
	</body>
</html>
