.result-item {
	display: block;
	clear: both;
	margin-bottom: 20px;
	padding-bottom: 10px;
	min-height: 120px;
}

.description {
	margin-left: 100px;
	color: #ddd;
	font-size: 13px;
}

.title {
	color: #eee;
	padding-left: 20px;
}

.image {
	width: 80px;
	min-height: 1px;
	float: left;
}
