/** NOTE: Loader animation generated via cssload.net **/

.bubbles {
	text-align: center;
	width: 100px;
	height: 60px;
	margin: auto;
}

.bubble {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 24px auto;
	background: rgb(46, 46, 46);
	border-radius: 49px;
	animation: bubbling .75s infinite alternate;
}

#bubble1 {
	animation-delay: 0s;
}

#bubble2 {
	animation-delay: .3s;
}

#bubble3 {
	animation-delay: .6s;
}

@keyframes bubbling {
	0% {
		width: 10px;
		height: 10px;
		background-color: rgb(46, 46, 46);
		transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color: rgb(227, 72, 64);
		transform: translateY(-20px);
	}
}
