$height = 40px;
$button-width = 40px;

.search-box-wrapper {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 300px;
}

.search-box-input {
	width: 'calc(100% - %s)' % $button-width;
	height: $height;
	padding: 4px 8px;
	border: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;

	&:focus {
		outline: 0;
	}

	&.with-value {
		padding-right: 35px;
	}
}

.search-box-reset-button {
	width: 30px;
	height: @width;
	display: block;
	position: absolute;
	right: 45px;
	top: 5px;

	&:hover {
		cursor: pointer;
		background: #efefef;
	}

	&:after {
		content: '+';
		color: #404040;
		transform: rotate(45deg);
		position: absolute;
		font-size: 20px;
		padding: 2px 8px;
	}
}

.search-box-submit-button {
	width: $button-width;
	display: inline-block;
	height: $height;
	border: 0;
	background: #eee;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;

	&:hover {
		cursor: pointer;
		background: #ddd;
	}
}
